doctype html
html
	head 
	  title Hello world
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
		style
			:uglify-css:stylus
				* 
					word-wrap break-word
	body 
		:marked
			# Hello world
		script 
			:uglify-js:babel(presets=['env'])
				console.log(2 ** 3)